<!DOCTYPE html>
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>Adicionar Curso</title>
</head>
<body>
    
    <h2>Adicionar novo curso</h2>
    <div class="formulario">
        <form action="" method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <a href="{% url 'index' %}" class="btn btn-danger">Voltar</a>
            <input type="submit" class="btn btn-primary" value="Salvar">
        </form>
    </div>
</body>
</html>