<!DOCTYPE html>
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Alunos</title>
</head>
<body>
    <h2>Lista de Alunos</h2>
    
    <div class="alunos">
        {% if alunos %}
            <table id="tabelaListar">
                <thead>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Curso</th>
                    <th>RGA</th>
                </thead>

                {% for aluno in alunos %}
                <tr>
                    <td>{{ aluno.nome }}</td>
                    <td>{{ aluno.idade }}</td>
                    <td>{{ aluno.curso }}</td>
                    <td>{{ aluno.rga }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
        <p>Nenhum resultado encontrado</p>
        {% endif %}
    </div>
</body>
</html>