<!DOCTYPE html>
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>Alunos</title>
</head>
<body>
    <a href="{% url 'form_curso' %}" class="btn btn-primary btn-lg active">Novo Curso</a>
    <a href="{% url 'form_aluno' %}" class="btn btn-primary btn-lg active">Novo Aluno</a>

    <h2>Lista de Alunos</h2>
    
    <div class="alunos">
        {% if alunos %}
            <table id="tabelaListar">
                <thead>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Curso</th>
                    <th>RGA</th>
                </thead>

                {% for aluno in alunos %}
                <tr>
                    <td>{{ aluno.nome }}</td>
                    <td>{{ aluno.idade }}</td>
                    <td>{{ aluno.curso }}</td>
                    <td>{{ aluno.rga }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
        <p>Nenhum resultado encontrado</p>
        {% endif %}
    </div>
</body>
</html>